<html ng-app="app">
<head>
  <title>Instagram clone</title>
  <style>
    #mydiv {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 30em;
      height: 18em;
      margin-top: -9em; /*set to a negative number 1/2 of your height*/
      margin-left: -15em; /*set to a negative number 1/2 of your width*/
    }</style>
</head>
<body ng-controller="callbackController">
<div id="mydiv">
  <h1>
    Connecting to your account...
  </h1>
  <img style="margin-left: 100px;width: 200px" src="http://downgraf.com/wp-content/uploads/2014/09/01-progress.gif">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<%= javascript_include_tag "app.js" %>
<%= javascript_include_tag "controllers/controllersModule.js" %>
<%= javascript_include_tag "controllers/callbackController" %>
</body>
</html>