<html ng-app="app">
<head>
  <title>Instagram clone</title>
</head>
<body ng-controller="callbackController">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<%= javascript_include_tag "app.js" %>
<%= javascript_include_tag "controllers/controllersModule.js" %>
<%= javascript_include_tag "controllers/callbackController" %>
</body>
</html>